@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$search-title: #9A9A9A;
$search-icon: #9E9E9E;

$border: #D9D9D9;
$border-icon: #455A64;

$note-title: #4F4F4D;
$note-title-darker: #333333;
$note-subtitle: #50656E;

$section-title: #464646;

$icon-fill: #FFA000;
$icon-background: #FFE3B3;

$box-shadow: 1px 1px 3px 0 #00000025;

$white-background: #fff;

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  color: $note-title;

  outline: none;

  font-family: 'Inter', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

  height: 100vh;
  width: 100vw;
  background-color: #F0F2F5;
}

.disable {
  display: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}